<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    *{
      box-sizing: border-box;
    }
 body {
  background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhCHdtCJjcfdUwVR74CW3BIGzRwDgHKXRCGjKqgsOjliTfSiniOzdvAp_DxgjYC4XTNw8sZ9hycULGOBUEWZHl83B0BbHP96NvHd45or5_LrWX1gTDRE1XUoRq51V8K1mslyLgREymfJTdC1J5v-PKnaVN-WO89Mw7a20K6aajiEtylUUPBeaMZDJqiqWk/w706-h475/IMG_20240602_074458200_HDR_AE%20(1).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

#content {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 10%;
}

  </style>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about</title>
</head>
<body>
  <div id = "firstdiv">
    
  </div>

  <div id="content"> 
    <h1>About SPD Works</h1>
    <p>
      SPD Works is a platform dedicated to promoting simplicity and efficiency in software development. Our mission is to create tools and resources that help developers focus on what matters most: building great software.
    </p>
    <p>
      We believe that simplicity leads to better code, easier maintenance, and happier developers. Join us in our journey to make software development more straightforward and enjoyable.
    </p>  
    <h2>What We Do?</h2>
    <p>
We specialize in a wide range of IT services:

Custom Software Development

Web & Mobile Application Development

Cloud Services & Infrastructure Management

Cybersecurity Solutions

IT Consulting & Strategy

UI/UX Design & Branding

Data Analytics & AI Integration</p>
  </div>

<div id="below">
  <p>
    For more information, visit author's portfolio <a href="https://portfolio-spd.vercel.app/"> </a>
    </p>
    
  </div>

</body>
</html>