<!DOCTYPE html>
<html lang="en">
<head>

  <style>
    * {
    box-sizing: border-box;
    }
  body {
  background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhCHdtCJjcfdUwVR74CW3BIGzRwDgHKXRCGjKqgsOjliTfSiniOzdvAp_DxgjYC4XTNw8sZ9hycULGOBUEWZHl83B0BbHP96NvHd45or5_LrWX1gTDRE1XUoRq51V8K1mslyLgREymfJTdC1J5v-PKnaVN-WO89Mw7a20K6aajiEtylUUPBeaMZDJqiqWk/w706-h475/IMG_20240602_074458200_HDR_AE%20(1).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  justify-content: center;

  opacity: 0.9;
}


  #contactForm {
    max-width: 400px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid bisque; /* Add this line */
    padding: 14px 10px ;
  }

  label {
    display: block;
    margin: 10px 12px ;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: dotted;
  }

  input , textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    
  }
  button:hover {
    background-color: black;
    color: yellow;
  }

  #contactBelow {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(2, 15, 9);
    color: rgb(255, 255, 255);
    border-radius: 8px;
  }
  #contactH2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-top: 200px;
  }
  </style>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contact us</title>
</head>
<body>
  <div id = "contactForm">
  <h1>Message For Us</h1>



  <form action="\contact" method="post">

    <label >Company Name</label>
    <input name = "company" type="text"  placeholder="abc company"  required>
    <label >Email</label>
    <input name="email" type="email"  placeholder="abc@example.com"  required>
    <label >Message</label>
    <textarea name="message" rows="4" cols="50"  placeholder="please write your message for us"  required></textarea>

    <button type="submit">POST</button>

  </form>
</div>

<div id = "contactBelow">
  <h2 id = "contactH2">Contact Us</h2>
  <p>If you have any questions or need assistance, feel free to reach out to us.</p>
  <p>Email: <a href="mailto:website.work.spd@gmail.com">website.work.spd@gmail.com</p>
</div>

</body>
</html>