<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  body {
    background-color: rgb(12, 34, 14) ;
    color: rgb(248, 255, 249);
    font-family: Arial, sans-serif;
    padding: 10% 30%;

    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhCHdtCJjcfdUwVR74CW3BIGzRwDgHKXRCGjKqgsOjliTfSiniOzdvAp_DxgjYC4XTNw8sZ9hycULGOBUEWZHl83B0BbHP96NvHd45or5_LrWX1gTDRE1XUoRq51V8K1mslyLgREymfJTdC1J5v-PKnaVN-WO89Mw7a20K6aajiEtylUUPBeaMZDJqiqWk/w706-h475/IMG_20240602_074458200_HDR_AE%20(1).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  }

  button{
    margin: 40%;
    width: 50%;
    height: 40%;
    border-radius: 10%;
    background-color: black;
    color: yellow;

  }

  #homeContent {
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(248, 255, 249);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  </style>



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>
<body>
  <div id = "homeContent">
  <h1 >
    SPD Works
  </h1>

  <p>
    Simplicity Works Fine
    </p>
    <img src="../staticAssests/portlogo.jpg" alt="logo">

</div>
<div>
  <button>about</button>
</div>



</body>
</html>