<!DOCTYPE html>
<html lang="en">
<head>

  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=
      <div class="card">
        <img src="brinjal.jpg" alt="brinjal">
        <h2>brinjal</h2>
        <p>supporting heart health, aiding in weight management, and potentially helping to regulate blood sugar levels</p>
        <button class="add-to-cart">Add to Cart 🛒</button>
      </div>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>