<!DOCTYPE html>
<html lang="en">
<head>

  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
      <div class="card">
        <img src="cauli_flower.jpg" alt="cauliflower">
        <h2>cauliflower</h2>
        <p>Eating cauliflower can contribute to a healthy digestive system, potentially reduce the risk of certain cancers, and aid in weight management.</p>
        <button class="add-to-cart">Add to Cart 🛒</button>
      </div>

</body>
</html>