<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
      <div class="card">
        <img src="corn.jpg" alt="corn">
        <h2>corn</h2>
        <p>B vitamins (like thiamin, riboflavin, niacin, folate, and pantothenic acid), vitamin C, and vitamin E.</p>
        <button class="add-to-cart">Add to Cart 🛒</button>
      </div>
</body>
</html>