<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  
      <div class="card">
        <img src="lemon.jpg" alt="lemon">
        <h2>lemon</h2>
        <p>boost immunity, aid digestion, promote skin health, and may even help with weight management and heart health. </p>
        <button class="add-to-cart">Add to Cart 🛒</button>
      </div>


</body>
</html>