<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
      <div class="card">
        <img src="lettuce.jpg" alt="lettuce">
        <h2>lettuce</h2>
        <p>a good source of vitamins A, C, and K, as well as folate, fiber, and various minerals like potassium, calcium, and iron.</p>
        <button class="add-to-cart">Add to Cart 🛒</button>
      </div>
</body>
</html>