<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
      <div class="card">
        <img src="musk_melon.jpg" alt="musk melon">
        <h2>musk melon</h2>
        <p> boost the immune system and promote healthy skin.</p>
        <button class="add-to-cart">Add to Cart 🛒</button>
      </div>
  
</body>
</html>