<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
      <div class="card">
        <img src="okra.jpg" alt="okra">
        <h2>okra</h2>
        <p>Okra is rich in vitamins A and C, as well as antioxidants that help reduce the risk of serious health conditions like cancer, diabetes, stroke, and heart disease. Okra is also a good source of: Magnesium..</p>
        <button class="add-to-cart">Add to Cart 🛒</button>
      </div>
</body>
</html>