<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card">
        <img src="red_cabbage.jpg" alt="red cabbage">
        <h2>red cabbage</h2>
        <p>packed with antioxidants like anthocyanins and vitamin C, which help fight inflammation and protect the heart</p>
        <button class="add-to-cart">Add to Cart 🛒</button>
      </div>
</body>
</html>