<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
      <div class="card">
        <img src="tomatoes.jpg" alt="tomatoes">
        <h2>tomatoes</h2>
        <p>improved heart health, skin health, and vision, while also potentially reducing the risk of certain cancers and supporting overall well-being</p>
        <button class="add-to-cart">Add to Cart 🛒</button>
      </div>
</body>
</html>